<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bruxos e Bruxas de Hogwarts</title>
    <link rel="icon" type="image/x-icon" href="/static/images/hogwarts_logo.png">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">

</head>
<header>
    <a  href="/"><img src="/static/images/hogwarts_logo.png" alt="Logo de Hogwarts" style="height: 200px;"></a>
    <h1>Sistema de Matrículas de Hogwarts</h1>
</header>
<body>
    <h1>Bem-vindo ao Sistema de Matrículas de Hogwarts</h1>
    <nav>
        <ul>
            <li><a href="/alunos">Ver Alunos</a></li>
            <br>
            <li><a href="/cadastrar">Cadastrar Aluno</a></li>
        </ul>
    </nav>
</body>
<footer>
    <p>© 2024 Escola de M[agia e Bruxaria de Hogwarts</p>
</footer>
</html>
